// Wrapper
div#wrapper
  // Header
  header
    h1(ng-show="['t-login','t-register', 't-submit', 't-coldwallet'].indexOf($route.current.tabClass) !== -1", l10n) Welcome to the Zvi Network, a marketplace for global exchange
    include ./_navbar.jade
  .container

    // Main
    .row.main(id="{{$route.current.tabClass}}", role="main", ng-view)

    // Footer
    footer.row
      .col-sm-3
        a(href="https://github.com/zvi-io/zvi-desktop-wallet/releases", target="_blank", l10n)
          | Version: {{version}}

       .col-sm-9.right-links
         a(href="http://zvi.io/", target="_blank", l10n) Zvi.io
         a(href="https://github.com/zvi-io/zvi-desktop-wallet/issues", target="_blank", l10n) Bug reports
         //a(href="https://osim91w.oneskyapp.com/collaboration/project/185104", target="_blank", l10n) Help Translate
         a(href="#/lang/he_IL") עברית
         a(href="#/lang/en") English

